.InitPoint {
  --pt-size: calc(var(--max-w) / 2);
  background-color: red;
  width: var(--max-w);
  height: var(--max-h);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .point {
    position: absolute;
    width: var(--pt-size);
    height: var(--pt-size);
    background-color: green;
    border-radius: 50%;
    text-align: center;

    transition-property: width height color;
    transition-duration: 2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      transition-property: color;
      transition-duration: 2s;
      transition-timing-function: linear;
    }

    .startText {
      color: rgba(222, 222, 222, 1);
    }

    .endText {
      top: calc(50% - 1.0em);
      color: rgba(222, 222, 222, 0.1);
    }
  }

  &.size {
    --pt-size: calc(var(--max-h) * 1.5);

    .startText {
      color: rgba(222, 222, 222, 0);
    }

    .endText {
      top: min(calc(50% - 1.0em), 250px);
      color: rgba(222, 222, 222, 1);
    }
  }

  /* ----- */
  /* .test {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;

    &.onStart {
      left: 50%;
      transform: translateX(-50%);
      animation: InitPoint__myAnim2 2s linear 0s 1;
    }
  } */

}

/* @keyframes InitPoint__myAnim2 {
  0% {
    left: 0;
    transform: translateX(-50%);
  }

  70% {
    left: 100%;
    transform: translateX(100%);
  }

  100% {
    left: 50%;
    transform: translateX(-50%);
  }
} */
